/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .school_info dl{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 }
 .school_info dt{
  width: 10%;
  padding-bottom: 20px;
  margin-bottom: 10px;
 }
 .school_info dd{
  width: 85%;
 }
 .overview dd{
  text-align: left;
  margin-left: 1vh;
 }
 .school_info p img{
  width: 400px !important;
  height: 80px !important;
 }
 .school_info p {
  width: 100%;
 }
 .box{
  display: flex;
  width: auto;
 }
.box dt{
  border: 1px dotted; 
  width: 25%;
}
#blue{
  background-color: rgb(132, 132, 225);
}
 @media(max-width: 850px){
  .school_info dl{
    width: 220px;
  }
  .school_info dt{
    width: 60px;
  }
  .school_info dd{
    width: 120px;
  }
 }
 
